body {
    font-family: verdana;
}

#title {
	box-shadow: 1px 1px 5px #888;
	text-shadow: 0.1em 0.1em 0.2em black;
	border-radius: 3px;
	color: whitesmoke;
	background-color: #C3D9FF;
	padding: 0px 10px 0px 10px;
	margin: 10px;
	text-align: center;
}

#totalclicks {
	vertical-align: bottom;
	padding: 10px;
}

#board, #stats {
	margin: 25px 10px 10px 10px;
}

#board {
    width: 275px;
}

#controls{
	background-color: whitesmoke;
	border: 2px solid #aaa;
	padding: 10px;
	margin: 10px;
}

.inline {
    display: inline-block;
}

ul.guesses {
    position: absolute;
    padding: 0px;
    margin: 0px;
}

ul.guesses li {
    display: inline-block;
    background-color: white;
    border: solid 2px #888;
    padding: 5px;
    margin: 2px;
    box-shadow: 3px 3px 5px #888;
	border-radius: 10px;
    cursor: pointer;
}

ul.guesses li:hover {
    background-color: yellow;
    font-weight: bold;
}

.box {
	box-shadow: 1px 1px 5px #888;
	border: 1px solid #C3D9FF;
	border-radius: 10px;
	background-color: white;
	width: 25px;
	height: 25px;
	margin: 0px;
	cursor: pointer;
}
.box.guessed {
	color: red;
}
.box.done {
	color: #000;
    cursor: default;
}
.box.show {
    background-color: yellow;
}
.box span {
	font-size: 13pt;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0.2em #aaa;
	text-align: center;
	width: 100%;
	line-height: 25px;
	display: none;
	float: left;
}
.box.guessed span.guessed, .box.done span.done {
    display: block;
}

.gapRight {
    margin-right: 10px;
}
.gapBottom {
    margin-bottom: 10px;
}